body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f8ff; ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 0;
    flex-wrap: wrap; /* Ensure wrapping in smaller screens */
}

.grid {
    width: 300px;
    height: 600px;
    background-color: #f7e7d3;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #b3a394;
    margin-right: 20px;
    z-index: 1;
}

.grid div {
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid #b3a394;
}

#hide{
    visibility: hidden;
}



.tetromino {
    background-color: #8dd3c7;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f7e7d3;
    border: 5px solid #b3a394;
    
}

.mini-grid div {
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 1px solid #b3a394;
}

.gifs{
height: 140px;
width: 140px;
z-index: 3;
}
h3, #lives, #timer {
    margin: 10px;
}

#start-button, #restart-button, #pause-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#start-button:hover, #restart-button:hover,#pause-button:hover {
    background-color: #45a049;
}

.heart {
    color: red;
    font-size: 20px;
    margin-right: 5px;
}

/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
    background-color: #f3f4f6;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 60%;
    text-align: center;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* GIF container */
.gif-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.gif-container img {
    width: 100%;
    height: auto;
}

#levegif{
    max-width: 240px;
    margin-top: 10px;
}

/* Restart button */
#restart-button-modal {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#restart-button-modal:hover {
    background-color: #45a049;
}

.header {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    text-align: center; 
    background-color: #f0f8ff; 
    z-index: 10; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  
  .controls, .leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; /* Space between grid and controls/leaderboard */
}

.leaderboard {
    width: 200px; /* Adjust width as per your design needs */
    margin-left: 200px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Responsive adjustments may be needed depending on screen size */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .controls, .leaderboard {
        margin-left: 0;
        margin-top: 20px;
    }
}